<div >
    <div class=" flex justify-center items-center bg-slate-300 h-screen ">
        <img src="https://p7z2w8n8.rocketcdn.me/wp-content/uploads/2020/04/bradesco.png" alt="" style="max-width: 200px ;">
        
    </div>
</div>