<div >
    <div style="background-color: rgb(146, 230, 255);  display:flex; justify-content: center; align-items: center; width: 100%; height: calc(100vh - 90px);  ">
        <img src="https://p7z2w8n8.rocketcdn.me/wp-content/uploads/2020/04/bradesco.png" alt="" style="max-width: 200px ;">
        
    </div>
</div>