<h1 class="text-center text-xl my-12 ">IMAGENS DO BANCO DE DADOS</h1>
<section class="bg-slate-200 py-8">
    <div class="container mx-auto   flex flex-wrap gap-x-1 border-blue-500 border-2 border-dotted w-9/12  h-auto m-a-md">
    {{#each imagensUp }}
        <div class="border-2 border-solid border-blue-200 m-1 rounded-md shadow-lg">
            <img class="rounded-md" src="{{Imagens}}" alt="" style="max-width: 100px;" >
        </div>

    {{/each}}

    </div>
</section>