<div style="display: flex; justify-content: center; align-items: center;  width: 100%; height:calc(100vh - 90px); ">
    <div style="text-align: center;">
        <h1 style="font-size:3em; font-family:sans-serif ; color: rgb(3, 91, 190);">Enviado com Sucesso!</h1>
        <p style="font-size:2.5em; font-family:serif ; color: rgb(233, 87, 2);">Obrigado!</p>
    </div>
</div>