<h1>Página de atualização</h1>

<form action="/update/{{id}}" method="post" >
    <div class="p-5">
        {{#each updates}}
            <label>Nome: </label>
            <input value={{nome}} class=" border-2 rounded-md border-zinc-600" type="text" name="nome"><br><br>
            <label>Valor: </label>
            <input value={{valor}} class=" border-2 rounded-md border-zinc-600" type="text" name="valor"><br><br>
            </div>
            <div class="w-full text-center">
                <a href="/up-page/{{id}}"><button>Atualizar</button></a>
            </div>
        {{/each}}
</form>
