<section style="display: flex; justify-content: center; align-items: center;  width: 100%; height:calc(100vh - 90px); ">
  <div style="border-radius: 12px; border: 2px dashed #ccc ; height: 30%; width: 50%; display: flex; justify-content: center; align-items: center;">
    <form action="/profile" method="post" enctype="multipart/form-data" >
    <div style="font-size: 2em; font-family: monospace; margin-bottom: 20px;">
      <span><h1>Envio de Imagens</h1></span>
    </div>
      <input type="file" name="imageUp"  accept='image/*' />
      <div style="border-radius: 12px; margin-top:35px; display: flex; justify-content: center; align-items: center; width: 120px; height: 50px; background-color: rgb(3, 78, 139);">
        <button style="font-size: 1.1em; color:#fff">ENVIAR</button>
      </div>
    </form>
  </div>
</section> 